<h2>Наименование: {{ product.name }}</h2>
<p>Описание: {{ product.description }}</p>
<p>Цена: {{ product.price }}</p>

    <input type="text" id="id" name="id" hidden value="{{product.id}}">
<button class="action" value="Заказать">Заказать</button>

<a class="edit" href="?c=product&a=edit&id={{ product.id }}">Редактировать</a>

<script>
    $(document).ready(function(){
        $(".action").on('click', function(){
            let id = $('#id').val();
            console.log(id);
            $.ajax({
                url: "../AddBasket/",
                type: "POST",
                dataType : "json",
                data:{
                    id: id
                },
                error: function() {
                    alert('error');},
                success: function(answer){
                    {window.location.reload()}
                }

            })
        });

    });
</script>
