<div class='catalog'>

    {% for item in catalog %}

    <div class="item">
        <a href="product/card/?id={{ item.id }}">
            <h2>{{ item.name }}</h2>
        </a>
        <p>{{ category}}</p>
        <p>{{ item.description}}</p>

        <p>Стоимость: {{ item.price}} рубля(ей)</p>

        <button id="{{ item.id }}" class="action">Купить</button>

    </div>
        {% endfor %}


</div>

<script>
    $(document).ready(function(){
        $(".action").on('click', function(){
            let id = this.id;

            $.ajax({
                url: "product/AddBasket/",
                type: "POST",
                dataType : "json",
                data:{
                    id: id
                },
                error: function() {
                    alert('error');},
                success: function(answer){
                    {window.location.reload()}
                }

            })
        });

    });
</script>

