<form action="../savechngs/?id={{ product.id}}" method="post">
<h2>Наименование: <input type="text" name="name" value="{{ product.name }}"></h2>
<p>Описание: <input type="text" name="description" value="{{ product.description }}"></p>
    <p>Категория: <input type="text" name="category" value="{{ product.category }}"></p>
    <p>Цена: <input type="text" name="price" value="{{ product.price }}"></p>
    <input type="text" id="id" name="id" hidden value="{{product.id}}">

<input type="submit" class="save_changes" value="Savechngs">
</form>

<!--
<script>
    $(document).ready(function(){
        $(".save_changes").on('click', function(){
            let id = $('#id').val();
            console.log(id);
            $.ajax({
                url: "../savechngs/",
                type: "POST",
                dataType : "json",
                data:{
                    id: id
                },
                error: function() {
                    alert('error');},
                success: function(answer){
                    {window.location.reload()}
                }

            })
        });

    });
</script>-->
