<form method="POST" action="/user/reg">

    Логин <input name="login" type="text"><br>

    Пароль <input name="pass" type="password"><br>

    <input name="submit" type="submit" value="Зарегистрироваться">

</form>